// @import url("https://fonts.googleapis.com/css?family=Heebo:400");
@import url("https://fonts.googleapis.com/css?family=Rubik");

$color1: #ff264a;

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: url("../assets/img/image.jpg");
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: 0.08em;
  line-height: 1.5;
}
ul {
  list-style: none outside none;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color1;
}

.my-icon {
  & img {
    width: 40%;
  }
}

.activ-bg {
  background-image: url(../assets//img/carbon.png);
  background-size: cover;
}
.activ-content {
  display: grid;
  height: 70%;
  .typed {
    text-align: left;
    margin: 4em 5em 0 5em;
  }
  .git-chart {
    align-self: end;
    margin-bottom: 2em;
  }
}
.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40% 0;
  align-content: center;
  height: 50%;
  .media {
    & i {
      font-size: 50px;
      position: absolute;
      line-height: 0.8;
      color: rgba(255, 255, 255, 0.2);
    }
  }
}

#scene {
  position: relative;

  #p5 {
    left: 40em !important;
    top: 2em !important;
  }
  #p2 {
    left: 45em !important;
    top: 7em !important;
  }
  #p3 {
    left: 42em !important;
    top: 13em !important;
  }
  #p4 {
    left: 48em !important;
    top: 18em !important;
  }
  #p1 {
    left: 15em !important;
    top: 2em !important;
  }
  #p6 {
    left: 9em !important;
    top: 7em !important;
  }
  #p7 {
    left: 13em !important;
    top: 13em !important;
  }
  #p8 {
    left: 6em !important;
    top: 18em !important;
  }
}
.absolute {
  position: absolute;
}

.title {
  font-size: 2.2em;
  margin: 0.4em 0;
  &.section-heading {
    &:before {
      display: none;
    }
  }
}

.description {
  margin: 0;
  padding: 0;
  color: #811d2d;
}

.swiper-container {
  width: 90%;
  padding: 30px 30px;
}
.swiper-pagination-bullet-active {
  background: $color1 !important;
}

.swiper-pagination-bullet {
  background: #ddd;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
}

.swiper-button-next {
  background-image: url("../assets/img/angle-right-solid.svg");
}
.swiper-button-prev {
  background-image: url("../assets/img/angle-left-solid.svg");
}

.left-title {
  text-align: left;
  margin: 0 1em;
  padding: 0;
  & p {
    margin: 1em 0;
    padding: 0;
    font-size: 10px;
  }
}
.menu_wrapper {
  position: relative;
  display: inline-block;
  &:hover .menu_content {
    display: block;
  }
  & .menubtn {
    background: rgba(0, 0, 0, 0);
    padding: 16px;
    border: none;
    cursor: pointer;
    & i {
      color: #fff;
      font-size: 26px;
    }
  }
  & .menu_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #00000047;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    & .menu-item {
      margin: 5px 0;
    }
  }
}
.about {
  line-height: 2em;
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    align-items: center;
    & .res_col {
      justify-self: end;
    }
    & .res_inf {
      justify-self: start;
    }
  }
}
.addr {
  color: $color1;
  margin: 0;
  padding: 0;
}

.bg-icon {
  position: absolute;
  bottom: 4em;
  right: 4em;
  transition: 0.5s;
  &:hover {
    transform: scale(1.08);
  }
  & .flex-btn {
    display: flex;
    align-items: flex-end;
    & p {
      margin: 1em 0 0 2em;
    }
  }
  & i {
    position: absolute;
    font-size: 5em;
    opacity: 0.15;
    color: $color1;
  }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  z-index: 10;
  height: 100%;
  max-height: 580px;
  padding: 0 50px;
  text-align: center;
}
.speach {
  padding: 1.3% 0;
  margin: 5% 0;
  width: 90%;
}

#fp-nav ul li a {
  & span {
    background: rgb(177, 177, 177);
  }
}

.card-wrapper {
  display: flex;
  .card {
    width: 33%;
    height: 60%;
    background: rgba(0, 0, 0, 0.293);
    border-radius: 3px;
    margin: 0 10px;
    .card-header {
      padding: 0.75em 1.25em;
      background-color: rgba(0, 0, 0, 0.462);
      & h4 {
        margin: 0;
      }
    }
    .card-body {
      display: grid;
      padding: 0.5em 0 1.5em 0;
      border-left: 0.5px solid #ff264a36;
      border-right: 0.5px solid #ff264a36;
      border-top: 0.5px solid #ff264a36;
      .row-card-item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        .skill-logo {
          justify-self: center;
          width: 40%;
          margin: 0.5em 0;
        }
      }
    }
  }
}
.navbar-sidebar {
  z-index: 1;
  display: block;
  position: fixed;
  top: 50%;
  right: 64px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  .social {
    margin-right: -8px;
    padding-left: 10px;
    .icon {
      font-size: 20px;
    }
    a {
      width: 36px;
      height: 36px;
      display: block;
      line-height: 36px;
      text-align: center;
      background: rgba(98, 98, 98, 0.068);
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 1px;
      &:hover {
        color: #fff;
        box-shadow: 1px 1px 10px $color1;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.imgs {
  margin-top: 1em;
  img {
    width: 95%;
  }
}
.img1 {
  img {
    width: 38%;
  }
}
.star1 {
  right: 0;
  img {
    width: 70%;
  }
}
.star2 {
  left: 0;
  img {
    width: 70%;
  }
}
.hand {
  right: 5%;
  img {
    width: 70%;
  }
}
.cat {
  margin: 0;
  padding: 0;
  right: 0;
  img {
    width: 15%;
  }
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  z-index: 99;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
  font-size: 0.75rem !important;

  .footer-left {
    justify-self: start;
    padding: 0 5em;
    display: flex;
    justify-content: space-evenly;

    p {
      i {
        margin-left: 1em;
      }
    }
  }

  .footer-right {
    justify-self: end;
    padding: 0 5em;
  }
}

.opacity-75 {
  opacity: 0.75 !important;
}
.timeline {
  & ul {
    list-style: none;
    position: relative;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 10%;
      background: #6d0617;
    }
    & li {
      padding: 20px;
      & div {
        padding: 5px 10px;
      }
      & span {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 5%;
        top: 2.5em;
        font-size: 12px;
        background: $color1;
        padding: 5px;
        border-radius: 7%;
        box-shadow: 1px 1px 10px $color1;
      }
    }
  }
}
.scrolldown {
  position: absolute;
  bottom: 0;
  top: auto;
  right: auto;
  margin-bottom: 32px;
  left: 50%;
  font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif;
  z-index: 2;
  background: 0 0;
  a {
    margin-left: 0;
    position: relative;
    display: block;
    font-size: 0.75rem;
    font-family: open sans, opensans, roboto, helvetica, -apple-system,
      system-ui, BlinkMacSystemFont, sans-serif;
    line-height: 1;
    padding: 8px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.2);
    background: 0 0;
    border: none;
    &:after {
      position: absolute;
      content: "";
      bottom: 30px;
      right: 0;
      height: 34px;
      width: 18px;
      margin-right: 9px;
      background: 0 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    &:before {
      position: absolute;
      content: "";
      bottom: 40px;
      right: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-right: 20px;
      height: 32px;
      width: 0;
      border: 2px solid currentColor;
      border-top: none;
      border-right: none;
      background: 0 0;
      color: #fff;
      opacity: 0.5;
    }
    .txt {
      position: absolute;
      width: 200px;
      text-align: center;
      left: -100px;
      top: 0;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    &:hover {
      color: #fff;
      &:before {
        bottom: 24px;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 900px) {
  body {
    font-size: 0.8rem;
  }
  .container {
    padding: 0 1em;
  }
  .activ-bg {
    width: 95%;
  }

  .git-chart {
    display: none;
  }
  .title {
    color: $color1;
    &.section-heading {
      &:before {
        display: none;
      }
    }
  }
  .timeline {
    & ul {
      & li {
        & div {
          width: 80%;
          margin-left: 2.5em;
        }
        & span {
          left: 5%;
          top: 2.5em;
          font-size: 10px;
        }
      }
    }
  }
  .swiper-slide {
    width: 200px;
    height: 250px;
  }

  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .section-heading {
    margin: 2em 0 1em 0;
  }
  #fp-nav ul li a {
    & span {
      display: none;
    }
  }
  .page-footer {
    display: none;
  }
  .scrolldown {
    display: none;
  }
  .navbar-sidebar {
    display: none;
  }
  #scene {
    display: none;
  }
  .bg-icon {
    right: 40%;
  }
  .star1 {
    display: none;
  }
  .imgs {
    display: none;
  }
  .hand {
    display: none;
  }
  .img1 {
    margin: 1em 0;
    img {
      width: 40%;
    }
  }
  .media-grid {
    grid-template-columns: 1fr;
    grid-gap: 15% 0;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card {
      width: 100%;
      margin: 1% 0;
      .card-body {
        padding: 0.5em 0 1.5em 0;
        .row-card-item {
          .skill-logo {
            width: 30%;
            margin: 0.2em 0;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .img1 {
    img {
      width: 80%;
    }
  }
}
