body {
    font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    letter-spacing: .02em
}

ul{
    list-style: none outside none;
    margin: 0;
}
a{
    text-decoration: none;
    color:#fff;
}
.navbar-sidebar {
    z-index: 1;
    display: block;
    position: fixed;
    top: 50%;
    right: 64px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.navbar-sidebar .social {
    margin-right: -8px;
    padding-left: 10px;
}

.navbar-sidebar .social a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 36px;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .5);
    margin-bottom: 1px;
}

.navbar-sidebar .social a:hover {
    color: #fff;
}

.navbar-sidebar .social .icon {
    font-size: 18px;
}
.page-footer .footer-left {
    position: fixed;
    left: 16px;
    z-index: 10;
    bottom: 8px;
    font-size: .75rem;
}

.page-footer .footer-left span:nth-child(1) {
    margin-right: 15px;
}

.page-footer .footer-left span i {
    margin-right: 5px;
}
.page-footer .footer-left p {
    margin-bottom: 0;
    font-size: .75rem;
    color: rgba(255, 255, 255, .5);
}

.page-footer .footer-left p .marked {
    font-weight: 700;
}

.page-footer .footer-right {
    position: fixed;
    bottom: 8px;
    right: 16px;
    z-index: 10;
    display: inline-flex;
}

.page-footer .footer-right .note {
    position: relative;
    top: 3px;
}

.page-footer .footer-right .note a {
    color: #fff;
    font-weight: 700;
    opacity: .8;
}

.page-footer .footer-right .note a:hover {
    text-decoration: none;
    opacity: 1;
}

.page-footer .footer-right p {
    margin-bottom: 0;
    font-size: .75rem;
    color: rgba(255, 255, 255, .5);
}


.scrolldown {
    position: absolute;
    bottom: 0;
    top: auto;
    right: auto;
    margin-bottom: 32px;
    left: 50%;
    font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    z-index: 2;
    background: 0 0;
}

@media(max-width:767px) {
    .scrolldown {
        display: none;
    }
}

@media(max-height:480px) {
    .scrolldown {
        display: none;
    }
}

.scrolldown a {
    margin-left: 0;
    position: relative;
    display: block;
    font-size: .75rem;
    font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    line-height: 1;
    padding: 8px;
    -webkit-transition: .3s;
    transition: .3s;
    color: rgba(255, 255, 255, .2);
    background: 0 0;
    border: none;
}

.scrolldown a .txt {
    position: absolute;
    width: 200px;
    text-align: center;
    left: -100px;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.scrolldown a:after {
    position: absolute;
    content: "";
    bottom: 30px;
    right: 0;
    height: 34px;
    width: 18px;
    margin-right: 9px;
    background: 0 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.scrolldown a:before {
    position: absolute;
    content: "";
    bottom: 40px;
    right: 0;
    -webkit-transition: .3s;
    transition: .3s;
    margin-right: 20px;
    height: 32px;
    width: 0;
    border: 2px solid currentColor;
    border-top: none;
    border-right: none;
    background: 0 0;
    color: #fff;
    opacity: .5;
}

.scrolldown a:hover {
    color: #fff;
}

.scrolldown a:hover:before {
    bottom: 24px;
    opacity: 1;
}