body {
  font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  background-color: black;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

#section1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: scroll;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}

#fp-nav ul li a span {
  background: #fff;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes hidder {
  97% {
    opacity: 99%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hidder {
  97% {
    opacity: 99%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.hidden {
  -webkit-animation: hidder 5s;
          animation: hidder 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ldBar {
  width: 100%;
  height: 100px;
}

.navbar {
  position: fixed;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 9;
  color: #f2f2f2;
  padding-top: 1em;
}

.navbar .header-left {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 0 3em;
}

.navbar .header-left img {
  width: 50%;
}

.navbar .header-right {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 0 3em;
}

ul {
  list-style: none outside none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-sidebar {
  z-index: 1;
  display: block;
  position: fixed;
  top: 50%;
  right: 64px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-sidebar .social {
  margin-right: -8px;
  padding-left: 10px;
}

.navbar-sidebar .social a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 36px;
  text-align: center;
  background: rgba(98, 98, 98, 0.068);
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1px;
}

.navbar-sidebar .social a:hover {
  color: #fff;
  color: #d903ff;
}

.navbar-sidebar .social .icon {
  font-size: 18px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 99;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
  font-size: 0.75rem !important;
}

.page-footer .footer-left {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 0 5em;
}

.page-footer .footer-right {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 0 5em;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.scrolldown {
  position: absolute;
  bottom: 0;
  top: auto;
  right: auto;
  margin-bottom: 32px;
  left: 50%;
  font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  z-index: 2;
  background: 0 0;
}

@media (max-width: 767px) {
  .scrolldown {
    display: none;
  }
}

@media (max-height: 480px) {
  .scrolldown {
    display: none;
  }
}

.scrolldown a {
  margin-left: 0;
  position: relative;
  display: block;
  font-size: 0.75rem;
  font-family: open sans, opensans, roboto, helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  line-height: 1;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.2);
  background: 0 0;
  border: none;
}

.scrolldown a .txt {
  position: absolute;
  width: 200px;
  text-align: center;
  left: -100px;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.scrolldown a:after {
  position: absolute;
  content: "";
  bottom: 30px;
  right: 0;
  height: 34px;
  width: 18px;
  margin-right: 9px;
  background: 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scrolldown a:before {
  position: absolute;
  content: "";
  bottom: 40px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 20px;
  height: 32px;
  width: 0;
  border: 2px solid currentColor;
  border-top: none;
  border-right: none;
  background: 0 0;
  color: #fff;
  opacity: 0.5;
}

.scrolldown a:hover {
  color: #fff;
}

.scrolldown a:hover:before {
  bottom: 24px;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */